:root {
    --azul-claro: #C2E9FB;
    --white: white;
    --button-color: #7879F1;
    --cinza-claro: #DCE2E9;
    --input-color: #DCE2E9;
}

body {
    background-color: var(--azul-claro);
    font-family: Montserrat;
    
    padding: 200px 427px 246.282px 425px;
}

#box-content {
    width: 428px;
    height: 273.72px;
    background: var(--white);

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

div.content {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    .p {
        text-align: center;
        width: 300px;
        font-size: 24px;
        font-weight: 600;
    }

    .span {
        margin-top: -16px;

        text-align: center;
        width: 300px;
        height: 18.504px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        font-family: DM Sans;

        color: rgba(52, 53, 91, 0.80);
    }
}

div.box-form {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 48px;

    .input {
        width: 43px;
        height: 53px;
        background: var(--input-color);
        border: 0;
        border-radius: 4px 0px 0px 4px;
    
        display: inline-flex;
        pad: 16px;
        align-items: center;
        text-align: center;
    
        font-family: DM Sans;
        font-size: 16px;
        font-weight: bold;
    }

    .button {
        width: 82px;
        height: 55px;
        background: var(--button-color);
    
        display: inline-flex;
        padding: 16px;
        border: 0;
        border-radius: 0px 4px 4px 0px;
    
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
    
        color: var(--white);
    
        cursor: pointer;
    }
}